* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: grid;
  background-image: url(https://i.picsum.photos/id/1022/6000/3376.jpg?hmac=FBA9Qbec8NfDlxj8xLhV9k3DQEKEc-3zxkQM-hmfcy0);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding:10%;
  place-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  background: rgba(56, 219, 7, 0.25);
  box-shadow: 0 8px 32px 0 rgba(186, 236, 6, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
}

.cards {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 49%;
  margin: 20px;
  overflow: hidden;
}

.card-info {
  padding: 10px;
}

.card-info h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-info h2 {
  font-size: 17px;
  margin-bottom: 10px;
}

.card-info p {
  margin-bottom: 10px;
}

.card-links {
display: flex;
}

.links{
  width: 49%;
  background-color: greenyellow;
  margin: 5px;
  padding:10px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.card img {
  height:100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width:1125px) {
  .links{
    display: flex;
    flex-direction: column;
  }
}
